.email-signup {
font-size: 1em;
background-color: #958882;
color: #fcfcfc;
padding: 1em;
border-radius: 50px;
margin: 1.75em 2em 0;
}

.email-signup a:link, .email-signup a:visited, .email-signup a:hover, .email-signup a:active {
color: #fcfcfc;
text-decoration: underline;
}
