<div class="wrapper">
        <div class="nav d1-d2 nav-a">
        <nav role="navigation">
            <ul>
                <li><a href="/">Home</a></li> / 
                <li><a href="/about.html">About</a></li> /
                <li><a href="/faq.html">FAQ</a></li>
            </ul>
             </nav>
        </div>

    <div class="d3 logo">
      <img src="{{ "/img/wavelogo.svg" | prepend: site.baseurl }}" />
      <h5 class="logotype">CHIMU HOMEOPATHY</h5>
    </div>
       <nav role="navigation">
        <div class="nav d4-d5 nav-b">
            <ul>
                <li><a href="/blog.html">Blog</a></li> /
                <li><a href="/contact.html">Scheduling</a></li>
            </ul>
        </div>
        </nav>